
@{
    ViewData["Title"] = "Mi pedido";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
@section HeaderScript{
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script>

        let map, infoWindow, _pos, marker;
        var options = {
            enableHighAccuracy: true,
            timeout: 5000,
            maximumAge: 0
        };

        function success(pos) {
            _pos = pos.coords;
            console.log(_pos);
            console.log('More or less ' + _pos.accuracy + ' meters.');
        };

        function error(err) {
            console.warn('ERROR(' + err.code + '): ' + err.message);
        }

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(success, error, options);
        } else {
            // Browser doesn't support Geolocation
            console.log('Browser doesnt support Geolocation');
            //handleLocationError(false, infoWindow, map.getCenter());
        }

        function initMap() {
            let current_position = { lat: parseFloat(_pos.latitude.toFixed(5)), lng: parseFloat(_pos.longitude.toFixed(5)) };
            console.log(current_position);
            map = new google.maps.Map(document.getElementById("map"), {
                center: current_position,
                zoom: 15,
                mapTypeId: 'roadmap'
            });
            marker = new google.maps.Marker({
                position: current_position,
                map,
                draggable: true,
                title: "Mi ubicación actual"
            });
            showLocationOnMap(current_position);
        }

        
        function showLocationOnMap(current_position) {
            marker.setPosition(current_position);
            map.setCenter(current_position);
        }

        const ok = () => {
            var markerLatLng = marker.getPosition();
            let position = { lat: markerLatLng.lat(), lng: markerLatLng.lng() };
            console.log(position);
            showInfo(position);
        }

        function showInfo(latlng) {
            const geocoder = new google.maps.Geocoder();
            console.log(latlng);
            geocoder.geocode({
                'latLng': latlng
            }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    if (results[1]) {
                        // here assign the data to asp lables
                        console.log(results[1].formatted_address);
                    } else {
                        alert('No results found');
                    }
                } else {
                    alert('Geocoder failed due to: ' + status);
                }
            });
        }
        
    </script>
}
@await Html.PartialAsync("~/Views/Shared/_Navbar.cshtml")
<div class="container">
    
    <div class="row my-5">
        <div class="col-lg-7 col-md-7 col-sm-12">
            <h3>Crear una cuenta</h3>
            <p>Si es la primera vez que solicitas un pedido, por favor crea tu cuenta.</p>
            @using (Html.BeginForm("Register", "User", FormMethod.Post, new { id = "frmRegistrarme", @class="pr-4" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <label for="identification">Cédula</label>
                    <input id="identification" name="identification" type="text" class="form-control col-6 effect-8" maxlength="10" required/>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label for="name">Nombres</label>
                        <input id="name" name="name" class="form-control" required/>
                    </div>
                    <div class="form-group col-6">
                        <label for="last_name">Apellidos</label>
                        <input id="last_name" name="last_name" type="text" class="form-control" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label for="email">Correo electrónico</label>
                        <input id="email" name="email" type="email" class="form-control" required/>
                    </div>
                    <div class="form-group col-6">
                        <label for="phone">Celular/Telefono</label>
                        <input id="phone" name="phone" type="text" class="form-control" required/>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label for="passsword">Contraseña</label>
                        <input id="password" name="password" type="password" class="form-control" required/>
                    </div>
                    <div class="form-group col-6">
                        <label for="passsword2">Confirmar contraseña</label>
                        <input id="passsword2" name="passsword2" type="password" class="form-control" required/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="location">Seleccione su ubicación</label>
                    <input id="location" name="location" type="text" class="form-control" style="cursor:pointer" required/>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn back-primary btn-block">REGISTRARME</button>
                </div>
            }
        </div>
        <div class="col-lg-5 col-md-5 col-sm-12 pl-4" style="border-left: 1px solid #808080">
            <h3>Ingresar a mi cuenta</h3>
            <p>Si ya tienes una cuenta, inicia sesión para procesar tu pedido.</p>
            @using (Html.BeginForm("Login", "User", FormMethod.Post, new { id = "frmLogin"}))
            {
                <div class="form-group">
                    <label for="username">Usuario</label>
                    <input id="username" name="username" type="text" class="form-control" required/>
                </div>
                <div class="form-group">
                    <label for="passsword">Contraseña</label>
                    <input id="user_password" name="user_password" type="password" class="form-control" required/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">INICIAR SESIÓN Y FINALIZAR COMPRA</button>
                </div>
            }
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="map-modal" tabindex="-1" role="dialog" aria-labelledby="map-modalTitle" aria-hidden="true" style="min-width:95%;">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="product-title">Seleccione su ubicación de entrega</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="height:100% !important">
                <div id="map" style="height:100% !important">

                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .modal-dialog,
    .modal-content {
        height: 90%;
    }

    .modal-body {
        /* 100% = dialog height, 120px = header + footer */
        max-height: calc(100% - 40px);
        overflow-y: scroll;
    }
</style>
@section Scripts{
    <script async
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3imid37BAw2_Uwsw59RjLw8DRJuGCbEc&callback=initMap">
    </script>
    <script src="~/js/order/checkout.js" type="text/javascript"></script>
} 