<nav class="navbar navbar-expand-md back-black" style="height:100px">
    <div class="container">
        <div class="">
            <img src="~/images/logo-la-pesca.png" alt="Logo" style="margin:0; width:150px; height:100px; padding:7px;" />
        </div>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav ml-auto   ">
                <li class="nav-item"><a class="nav-link" href='@Url.Action("Index", "Home")'>Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href='@Url.Action("About", "Home")'>Sobre nosotros</a></li>
            </ul>
        </div>
    </div>
</nav>