
@{
    ViewData["Title"] = "Fin de sesión";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="container my-2">
    <h2>Fin de la sesión</h2>
    <h5>Se agotó el tiempo de tu sesión, por favor ingresa nuevamente con tus credenciales.</h5>
    <button class="btn back-primary">Ir al inicio</button>
</div>

