@model Neutrinodevs.PedidosOnline.Domain.DTOs.User.UserAuthenticateDto
@{
    Layout = "_DashboardLayout";
    ViewData["Title"] = "Administración";
}

@section HeaderScripts{
    <script>
        var tbl_order_list;

        const getOrderList = () => {
            var datos = [];
            $.ajax({
                url: '/Dashboard/GetAll',
                async: false,
                type: 'POST',
                contentType: 'application/json',
                success: function (resp) {
                    datos = JSON.parse(resp);
                },
                error: (err) => { console.log(err); return undefined; }
            });
            return datos;
        }


        const setOrder = (id_order) => {
            let user;
            let user_storage = localStorage.getItem('user');
            if (user_storage)
                user = JSON.parse(user_storage);

            $.ajax({
                url: '/Order/AssignDelivery',
                type: 'POST',
                data: JSON.stringify({ IdOrder: id_order, IdEmployee: user.id_user }),
                dataType: 'json',
                contentType: 'application/json',
                success: function (response) {
                    console.log(response);
                    if (response.code == '000') {
                        updateOrdersTable();
                        Swal.fire("Mensaje", response.message, "success");
                    }
                    else
                        Swal.fire("Mensaje", response.message, "error");
                },
                error: function (err) {
                    console.log(err);
                    Swal.fire("Mensaje", "Se ha producido un error en la asignación", "error");
                }
            });
        }

        const updateOrdersTable = () => {
            let delivery_list = getDeliveryList();
            console.log(delivery_list);
            tbl_order_list.clear().rows.add(delivery_list).draw();
        }
    </script>
}

<div class="main-content-head">

</div>

<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="box-head">
                <h2>Nuevos Pedidos</h2>
            </div><!--/.box-head-->
            <div class="item">
                <div class="item-responsive ">
                    <table class="table table-hover" id="tbl_order_list">
                        <thead>
                            <tr>
                                <th scope="col">Nº</th>
                                <th scope="col">FECHA</th>
                                <th scope="col">TOTAL</th>
                                <th scope="col">ESTADO</th>
                                <th scope="col">REPARTIDOR</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><a href="#">1</a></td>
                                <td>Shamsu</td>
                                <td>$25050</td>
                                <td>185</td>
                                <td>
                                    <span class="item-status delivered">Delivered</span>
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#">2</a></td>
                                <td>Shamsu</td>
                                <td>$25050</td>
                                <td>185</td>
                                <td><span class="item-status cancel">Cancel</span></td>
                            </tr>
                        </tbody><!--/tbody-->
                    </table><!--/.table-->
                </div><!--/.table-responsive-->
            </div><!--/.item-->
        </div><!--/.box-->
    </div><!--/.col-->
</div><!--/.row-->
<script>
    $(document).ready(function () {
        let delivery_list = getOrderList();
        console.log(delivery_list);
        tbl_delivery = $("#tbl_order_list").DataTable({
            "language": {
                "url": "/datatables.net/datatables-es_es.json"
            },
            paging: true,
            data: delivery_list,
            order: [],
            columns: [
                { data: 'number' },
                { data: 'customer_name' },
                { data: 'cellphone_number' },
                { data: 'address' },
                { data: 'total', render: $.fn.dataTable.render.number(',', '.', 2, '') },
                { data: 'items' },
                { data: 'id_order' }
            ],
            columnDefs: [
                {
                    targets: 5,
                    data: 'items',
                    "render": function (items, type, row, meta) {
                        return '<button class="btn btn-info btn-sm see-details" data-product=\'' + items + '\'>Ver</a>';
                    }
                },
                { orderable: false, searchable: false, targets: -1 },
                { orderable: false, searchable: false, targets: 5 }
                , {
                    targets: -1,
                    data: 'id_order',
                    "render": function (id_order, type, row, meta) {
                        return '<button class="btn btn-success btn-sm" onclick="setOrder(' + id_order + ')">Asignarme</a>';
                    }
                }
            ]
        });
</script>
@section Scripts{
    <script src="~/datatables.net/jquery.dataTables.min.js"></script>
    <script src="~/aspnet/signalr/dist/browser/signalr.min.js"></script>
    <script>
        connection.on("ReceiveNotifyOrder", function () {
            console.log('RECIBIDO');
            updateOrdersTable();
        });
    </script>
}