@model IEnumerable<Neutrinodevs.PedidosOnline.Domain.DTOs.Product.ProductDTO>
@{
    Layout = "_MasterLayout";
    ViewData["Title"] = "Inicio";
}

<header>
    <nav>
        <div class="logo"><span>LA PESCA</span></div>
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Sobre nosotros</a></li>
            <li><button class="btn btn-success">Ingresar</button></li>
        </ul>
        <section></section>
    </nav>
</header>
<script>
    window.addEventListener("scroll", function () {
        var navbar = document.querySelector("nav");
        var span = document.querySelector("span");
        
        if (window.scrollY > 0) {
            navbar.classList.toggle("sticky");
            span.style.display = "block";
        } else {
            span.style.display = "none";
        }
        
    });
</script>
<div class="container-fluid">
    @Html.Partial("~/Views/Dish/Partial/_Dishes.cshtml", Model)
</div>