@model IEnumerable<Neutrinodevs.PedidosOnline.Domain.DTOs.Product.ProductDTO>
@{
    Layout = "_MasterLayout";
    ViewData["Title"] = "Inicio";
}

<header>
    <nav class="nav-home">
        <div class="logo"><span style="display:none">LA PESCA</span></div>
        <ul class="">
            <li><a href='@Url.Action("Index", "Home")'>Inicio</a></li>
            <li><a href='@Url.Action("About", "Home")'>Sobre nosotros</a></li>
            <li>
                <button class="btn back-primary btn-cart" id="btn_shopping_cart">
                    <i class="fa fa-shopping-cart"></i>
                    <span id="quantity_cart" class="badge">0</span>
                </button>
            </li>
            <li><button class="btn btn-login px-3 py-1" id="login"><i class="fa fa-user" aria-hidden="true"></i></button></li>
        </ul>

        <section></section>
    </nav>
</header>
<script>
    var current_item_price = 0;

    window.addEventListener("scroll", function () {
        var navbar = document.querySelector("nav");
        var span = document.querySelector("span");

        let scroll_top = window.scrollY;
        if (scroll_top > 70) {
            navbar.classList.add("sticky");
            span.style.display = "block";
        } else {
            navbar.classList.remove("sticky");
            span.style.display = "none";
        }
    });

    function setQuantity(quantity) {

        let current_quantity = parseInt($(".quantity-product").val());
        let current_price_cart = 0;
        let new_quantity = 0;

        if (quantity > 0 && current_quantity >= 1) {
            new_quantity = current_quantity + quantity;
            $(".quantity-product").val(new_quantity);

            current_price_cart = (current_item_price * new_quantity).toFixed(2);
            $("#modal-price").text(current_price_cart);

        } else if (quantity < 0 && current_quantity > 1) {
            new_quantity = current_quantity + quantity;
            $(".quantity-product").val(new_quantity);

            current_price_cart = (current_item_price * new_quantity).toFixed(2);
            $("#modal-price").text(current_price_cart);
        }

    }
</script>
<!-- Product modal -->
<div class="modal fade" id="product-modal" tabindex="-1" role="dialog" aria-labelledby="product-modalTitle" aria-hidden="true" data-id="">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="product-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row container">
                    <div class="col-sm-12 col-md-6">
                        <div id="wrap-price" class="text-center">
                            <span class="price text-success">$</span><span class="price text-success" id="modal-price"></span>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="input-group mb-3 mt-3">
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-dark btn-lg" onclick="setQuantity(-1)"><i class="fa fa-minus"></i></button>
                            </div>
                            <input type="text" class="quantity-product" id="txt_quantity" name="txt_quantity" value="1" maxlength="4" readonly />
                            <div class="input-group-append">
                                <button type="button" class="btn btn-dark btn-lg" onclick="setQuantity(1)"><i class="fa fa-plus"></i></button>
                            </div>
                            <div class="input-group-append mt-3">
                                <button type="button" class="form-control btn btn-primary" id="add-cart"><i class="fa fa-cart-plus"></i> Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Login modal -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header back-black">
                <h5 class="modal-title text-white" id="loginModalLabel">Inicio de sesión</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-white">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Login", "User", FormMethod.Post, new { id = "frmSession", @class="p-2"}))
                {
                    <div class="form-group">
                        <label for="username">Usuario</label>
                        <input id="username" name="username" type="text" class="form-control" maxlength="50" />
                    </div>
                    <div class="form-group">
                        <label for="passsword">Contraseña</label>
                        <input id="user_password" name="user_password" type="password" class="form-control" maxlength="20" />
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn back-primary btn-block mt-2">INGRESAR</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-4 mx-2">
        <div class="w-50">
            <div class="wrap_item_menu2 item_menu2_selected" id="mariscos_menu">
                <h5><i class="fa fa-cutlery"></i> Mariscos</h5>
            </div>
        </div>
        <div class="w-50">
            <div class="wrap_item_menu2" id="bebidas_menu">
                <h5><i class="fa fa-glass"></i> Bebidas</h5>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("~/Views/Dish/Partial/_Dishes.cshtml", Model)
</div>
<style>
    .btn:hover {
        color: #fff;
    }
</style>
@section Scripts{
    <script src="~/js/pushbar.js"></script>
    <script src="~/js/order/shopping-cart.js"></script>
    <script src="~/js/home.js"></script>
}