@{
    ViewData["Title"] = "Mis Entregas";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@section HeaderScripts{
    <script>
        var tbl_delivery;

        var user;
        let user_storage = localStorage.getItem('user');

        if (user_storage)
            user = JSON.parse(user_storage);

        const getMyDeliveries = () => {
            var datos = [];
            $.ajax({
                url: base_url + '/Delivery/GetDeliveries?idDealer=' + user.id_user,
                async: false,
                type: 'POST',
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded',
                success: function (resp) {
                    datos = JSON.parse(resp);
                },
                error: (err) => { console.log(err); return undefined; }
            });
            return datos;
        }

        const seeDetails = (product) => {
            let num = 0;
            let rowProduct = '';
            $("#tbody_product").html('');
            product.forEach(elem => {
                num++;
                rowProduct += `<tr><td>${num}</td><td>${elem.NombreProducto}</td><td>${elem.Cantidad}</td></tr>`;
            });

            $("#tbody_product").append(rowProduct);
            $("#product-modal").modal();
        }

        const updateOrdersTable = () => {
            let delivery_list = getMyDeliveries();
            tbl_my_deliveries.clear().rows.add(delivery_list).draw();
        }

    </script>
}

<div style="margin-top: 3rem; padding: 3rem;" class="panel panel-default min-h-75">
    <h1 style="padding-bottom: 3rem;">Mis Entregas Pendientes</h1>
    <div class="row">
        <div class="col-12 col-xs-12 table-responsive" style="margin-top:2rem; padding:1rem;">
            <table class="table table-hover table-striped" id="tbl_my_deliveries" style="width:100%">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nº PEDIDO</th>
                        <th>CLIENTE</th>
                        <th>CONTACTO</th>
                        <th>DIRECCIÓN</th>
                        <th>TOTAL</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Product modal -->
<div class="modal fade" id="product-modal" tabindex="-1" role="dialog" aria-labelledby="product-modalTitle" aria-hidden="true" data-id="">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Detalle de pedido</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive" style="padding:2rem;">
                            <table class="table table-hover table-bordered" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>PRODUCTO</th>
                                        <th>CANT.</th>
                                    </tr>
                                </thead>
                                <tbody id="tbody_product">
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const setStage = (id_order, id_stage) => {
        $("#loader").fadeIn();

        $.ajax({
            url: base_url + '/Order/SetOrderStage',
            method: 'POST',
            dataType: 'json',
            data: { idOrder: id_order, idStage: id_stage },
            contentType: 'application/x-www-form-urlencoded',
            success: function (response) {
                let resp = response;
                console.log(resp);
                if (resp.code === '000') {
                    connection.invoke("NotifyOrder");
                    updateOrdersTable();
                    $("#loader").fadeOut();
                    if (id_stage == 3) {
                        Swal.fire('Notificación', 'Se ha notificado al cliente que estás en camino.', 'success');
                    } else if (id_stage == 4) {

                        Swal.fire('Notificación', 'Has finalizado la entrega.', 'success');
                    }
                }
                else {
                    $("#loader").fadeOut();
                    Swal.fire('Notificación', resp.message, 'error');
                }
            },
            error: function () {
                $("#loader").fadeOut();
                Swal.fire('Notificación', 'Lo sentimos, ocurrió un error al cambiar la etapa del pedido.', 'error');
            }
        });
    }

    const cancelOrder = (id_order) => {

        Swal.fire({
            title: '¿Estás seguro de cancelar la entrega?',
            showDenyButton: true,
            confirmButtonText: 'Yes',
            denyButtonText: 'No'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location = `${base_url}/Order/CancellationRequest?order=${id_order}&stage=6`;
            }
        })
    };

    $(document).ready(function () {
        let delivery_list = getMyDeliveries();

        tbl_my_deliveries = $("#tbl_my_deliveries").DataTable({
            "language": {
                "url": base_url + "/datatables.net/datatables-es_es.json"
            },
            paging: true,
            order: [],
            data: delivery_list,
            columns: [
                { data: null },
                { data: 'number' },
                { data: 'customer_name' },
                { data: 'cellphone_number' },
                { data: 'address' },
                { data: 'total', render: $.fn.dataTable.render.number(',', '.', 2, '') },
                { data: 'items' },
                { data: 'id_order' }
            ],
            columnDefs: [
                {
                    targets: 6,
                    data: 'items',
                    "render": function (items, type, row, meta) {
                        return '<button class="btn btn-info btn-sm see-details" data-product=\'' + items + '\'>Ver Detalle</a>';
                    },
                    orderable: false,
                    searchable: false
                }, {
                    targets: 4,
                    data: 'address',
                    "render": function (address_data, type, row, meta) {
                        let address_det = address_data.split("|");
                        return address_det[0] + '<br><a class="btn btn-info btn-sm" style="margin: 0 auto" target="_blank" href="https://maps.google.com/?q=' + address_det[1] + '">Ver Mapa</a>';
                    }
                }
                , {
                    targets: -1,
                    data: 'id_order',
                    "render": function (id_order, type, row, meta) {
                        if (row.id_stage == 2) {
                            return '<button class="btn btn-primary btn-sm" onclick="setStage(' + id_order + ', 3)">NOTIFICAR INICIO DE RECORRIDO</a>';
                        } else if (row.id_stage == 3) {
                            return '<button class="btn btn-success btn-sm" onclick="setStage(' + id_order + ', 4)">NOTIFICAR ENTREGA REALIZADA</a>';
                        }
                    },
                    orderable: false,
                    searchable: false
                },
                {
                    targets: 0,
                    "render": function (items, type, row, meta) {
                        return '<button class="btn btn-danger btn-sm" onclick="cancelOrder(' + row.id_order + ')">Cancelar</a>';
                    },
                    orderable: false,
                    searchable: false
                }
            ]
        });

        $(document).on('click', '.see-details', function () {
            let product = $(this).data("product");
            seeDetails(product);


        });

    });
</script>

@section Scripts{
    <script src="~/datatables.net/jquery.dataTables.min.js"></script>
    <script src="~/aspnet/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/order/notify.js" type="text/javascript"></script>
    <script>
        connection.on("ReceiveCancelOrder", function () {
            console.log('RECIBIDO CANCEL');
            updateOrdersTable();
        });
        connection.on("ReceiveNotifyOrder", function () {
            console.log('RECIBIDO');
            updateOrdersTable();
        });
    </script>
}