body {
    width: 100%;
}
.back-primary {
    background-color: #ff5b0e;
    color: #fff;
}

.back-black {
    background-color: #000;
}

.back-primary:hover {
    /*background-color: #f35b0e;*/
}
.color-primary {
    color: #ff5b0e;
}

nav {
    min-height: 10vh;
    /*background: #000 !important;*/
    height: 80px;
}
.wrap-main {
    /*padding-top: 4rem;
    min-height: 80vh;*/
}
.wrap-content {
    min-height: 80vh;
}
footer {
    height: 10vh;
}
header {
    height: 55vh;
    width: 100%;
    background-image: url('/images/HeaderBackground.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.nav-home {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    padding: 10px 90px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0);
    transition: 0.6s;
    z-index: 1000;
}

/*nav {
    padding: 10px 90px;
    transition: 0.6s;
}*/

nav button{
    margin-top: 1.2rem;
}

nav .logo{
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    transition: 0.6s;
}

nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
    
}
    
nav ul li a{
    line-height:80px;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    height: 80px;
    text-transform: uppercase;
    color: #fff;
    transition: 0.4s;
}

nav ul li a:hover{
    text-decoration: none;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
}
.sticky{
    padding:3px 140px;
    background: #000;
    height: 80px;
}
nav.sticky .logo,
nav.sticky ul li a {
    color: #fff;
}

card{
    border-radius:0 !important;
}

.card-product:hover{
    cursor: pointer;
}

/*.card-product img {
    transition: 0.4s all ease-in-out;
}

.card-product:hover img {
    transform: scale(1.1);
}*/

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0,0,0,0.4);
}

.card-product:hover .overlay {
    opacity: 1;
}
.text{
    color:#fff;
    padding:10px;
}

.pushbar-carrito {
    padding: 15px;
    /*background-color: #000;
    color: #fff;*/
}

.quantity-product {
    padding: 7px;
    width: 80px;
    max-width: 180px;
    min-width: 70px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.modal-body img{
    width: 250%;
    height: 200px;
}

.price{
    text-align: center;
    font-size: 4em;
}
.numeric{}

.order-items {
    list-style: none;
    margin-top: 1rem;
    padding: 0 !important;
}

.order-items li{
    padding-bottom: .8rem;
    padding-top: .5rem;
    border-bottom: 1px solid #e2e2e2;
    padding-right: 3rem;
}
.order-items a {
    text-decoration: none;
    font-weight: bold;
    position: absolute !important;
    right: 20px;
    margin-top: 10px;
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    text-align: center;
}
.order-items a:hover {
    cursor:pointer;
}
.title-item-cart{
    font-size: 14px;
}
.price-item-cart{
    color: #808080;
}
.separator {
    border: 1px solid #212529;
}
.bg-black{
    background-color:#000 !important;
}
.header-page{
    height: 30% !important;
}

input {
    border-radius: 0 !important;
    font-size: 1rem;
    margin: 0.25rem;
    min-width: 125px;
    padding: 0.5rem;
    transition: background-color 0.5s ease-out;
}

.input-login {
    padding: 3rem !important;
}

.invalid {
    font-weight: 400 !important;
    border: 2px solid #ff5b0e !important;
}



input:focus {
    border: 2px solid #000 !important;
}
.input-token {
    width: 300px;
    font-size: 20px;
    padding: 10px;
    border: 2px solid #000 !important;
    margin: 0 auto;
}

#map {
    height: 100%;
    width: 100%;
}

.img-preparing{
    width: 100px;
    height: 100px;
}

.btn-login{
    margin-left: 1rem;
    font-size: 19px;
    color: #fff;
    border: 2px solid #fff;
    transition: 0.4s;
}

.btn-login:hover {
    background-color: #fff;
    color: #333;
    border: 2px #ff5b0e solid;
}
.btn-login:hover i{
    color: #ff5b0e;
}

.btn-cart {
    transition: 0.4s;
    background-color: #ff5b0e;
    border: 3px #ff5b0e solid;
    margin-left: 1rem;
}

.btn-cart:hover {
    box-sizing: border-box;
    background-color: #fff;
    color: #ff5b0e;
    border: 3px #ff5b0e solid;
}

.btn-cart span {
    background-color: #fff;
    color: #ff5b0e;
}
.btn-cart:hover i{
    color: #ff5b0e;
}
.btn-cart:hover i{
    color: #ff5b0e;
}
.btn-cart:hover span{
    background-color: #ff5b0e;
    color: #fff;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animate__fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
.wrap_item_menu2 {
    padding: 10px;
    cursor: pointer;
    text-align: center;
    transition: 0.4s;
    border-bottom: 3px #fff solid;
}
.wrap_item_menu2:hover{
    background-color: #000;
    color:#fff;
}
.item_menu2_selected {
    border-bottom: 3px #000 solid;
}

.min-h-80{
    min-height: 80vh !important;
}

.about-text{
    font-size: 20px;
    text-align: justify;
}

.modal-body {
    overflow-x: auto;
}
.error{
    color: #ff5b0e;
    font-weight: bold;
    font-size: 12px;
    padding-left:5px;
}

.numbers{}
.letters {}

.loader-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

nav ul li a {
    line-height: 70px;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}